[submodule "gmod-module-base"]
	path = gmod-module-base
	url = https://github.com/Facepunch/gmod-module-base
	branch = development
[submodule "CSDK_SampleApp"]
	path = CSDK_SampleApp
	url = https://github.com/razerofficial/CSDK_SampleApp
